
body{
    display: block;
    padding: 0 auto;
    margin: 0 17% 0 17%;
    background-image: url("1384323_62e37.gif");
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.decorwebheader{
    text-align: center;
    font-size: 150%;
    color: rgb(80, 80, 163);
    font-family: Georgia, 'Times New Roman', Times, serif;
    align-items: center;
}
.decornameheader{
    text-align: center;
    font-size: 400%;
    color:rgb(65, 65, 116);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

ul {
   
    list-style:none;
    display: flex;
    margin: 35; /*north east south west*/
    min-height: 10vh;
    justify-content: center; 
    align-items: center;
    background-color: rgb(131, 174, 212);
    opacity: 70%;
}
li{
    padding: 1%;
    margin: 1%;
}
a{
    border: 1%; display: inline-block;
    color:black;
    text-align: center;
    border-radius: 15%;
    font-style: bold;
    font-size: 17px;
    background-color: rgb(143, 96, 187);
    padding: 5px;
    width: 100px;
   
}
p.first::first-letter{
    font-size: 25px;
    vertical-align: top;
    line-height: .3;
    padding: 3px;
    color: rgb(79, 44, 94);
}
a:hover{
    color:rgb(255, 254, 255);
    
}

h1{
    background-image: url("hello.jpg");
    background-size: cover;
    background-position: center;
    height: 70vh;
    text-align: center;
    align-items: center;
    justify-content: center;
    opacity: 80%;
    display: flex;
    width: 100%;
}
.Discover{
    color: rgb(44, 3, 49);
    font-size: 190%;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin: 2%;
    padding-top: 7%;
}


.img1{
    border:2px solid rgb(64, 5, 83);
    border-radius: 50%;
    float: left;
    margin: 4%;
   
}
.img2{
    border:2px solid rgb(64, 5, 83);
    display: block;
    border-radius: 50%;
    float: right;
    margin: 4%;
    
   
}
.aboutme{
   
    background-color: aliceblue;
    color: rgb(67, 8, 122);
    padding: 3%;
    font-family: 'Times New Roman', Times, serif;
}

.mypofolio{
    font-family: 'Times New Roman', Times, serif;
    background-color: aliceblue;
    color: rgb(67, 8, 122);
    padding: 3%;
}

.imglist{
   
    justify-content: center;
    text-align: center;
    list-style:none;
    display: flex;
    margin: 3px; /*north east south west*/
    min-height: 30vh;
    align-items: center;
    background-color: rgb(131, 174, 212);
    width:100%;
    
    
}
.img3 {
    border:2px dashed rgb(64, 5, 83);
    border-radius: 10%;
    padding: 1%;
    margin: 1%;    
    width: 25%;
    height:25%;
}
.img4 {
    border:2px dashed rgb(64, 5, 83);
    border-radius: 10%;
    padding: 1%;
    margin: 1%;   
    width: 25%;
    height:25%; 
}
.img5 {
    border:2px dashed rgb(64, 5, 83);
    border-radius: 10%;
    padding: 1%;
    margin: 1%;  
    width: 25%;
    height:25%;   
}
.img6 {
    border:2px dashed rgb(64, 5, 83);
    border-radius: 10%;
    padding: 1%;
    margin: 1%; 
    width: 25%;
    height:25%;    
}
.bye{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;


}
footer{
    color: rgb(80, 80, 163);
    text-align: center; 
}